.create-event-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 1em;
    box-sizing: border-box;
    background: #404040;
    color: white;
}
.create-event-title {
     margin-left: .5em;
 }

.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5em;
    margin-top: 4em;
}

.form-name {
    height: 3em;
    padding-left: 5%;
}

.form-description {
    height: 8em;
    padding: 4% 0 0 4%;
}

.form-item {
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bolder;
    width: 95%;
    background: antiquewhite;
}
.form-item:focus {
    outline: 0;
}

.form-item::placeholder {
    color: #202020;
}

.mui-pickers {
    width: 100%;
    color: white;
}
.single-input-container-2 {
    margin-top:  -1.5em;
}
.single-input-container {
    height: 10em;
}

@media (min-width: 100px) and (max-width : 450px) {
    .form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: .5em;
    }
    .placeHolder  {
        margin: 0 0 .2em .1em;
    }
    .b-create:active {
        background: steelblue;
        border: steelblue;
    }
    .b-cancel:active {
        background: tomato;
        border: tomato;
    }
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
}
.form-button {
    width: 35%;
    height: 2.5em;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    background: rgba(255, 255, 255, 0);
    transition: ease-in-out .2s;
}
.form-button:focus {
    outline: 0;
}
.b-create {
    border: 2px solid steelblue;
}
.b-cancel {
    border: 2px solid tomato;
}

@media (min-width : 455px) and (max-width: 1000px) {
    .form-container {
        width: 45%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr 1fr 1fr;
        grid-gap: .5em;
        margin: 2em 0 0 0;
    }
    .center-in-l {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form-name {
        height: 3em;
        padding-left: 2%;
    }

    .form-description {
        height: 8em;
        padding: 2% 0 0 2%;
    }

    .form-item {
        border-radius: 5px;
        border: 1px solid black;
        font-weight: bolder;
        width: 98%;
        background: antiquewhite;
    }

    .form-item::placeholder {
        color: #202020;
    }

    .mui-pickers {
        width: 100%;
        color: white;
    }
    .single-input-container-2 {
        margin: 0;
    }
    .buttons-container {
        position: absolute;
        top: 0;
        right: 2%;

        width: 20em;
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }
    .form-button {
        width: 35%;
        height: 2em;
        font-weight: lighter;
        font-size: 1.2em;
        border-radius: 5px;
        box-shadow: none;
        color: white;
        background: rgba(255, 255, 255, 0);
        transition: ease-in-out .1s;
    }
    .b-create:hover {
        cursor: pointer;
        color: white;
        background: steelblue;
        border-color: #325c7d;
    }
    .b-cancel:hover {
        cursor: pointer;
        color: white;
        background: tomato;
        border-color: #b34535;
    }
    .create-event-title {
        margin-left: .5em;
        font-weight: lighter;
    }
}

@media (min-width: 1050px) and (max-width: 1400px) {
    .form-container {
        width: 45%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr 1fr 1fr;
        grid-gap: .5em;
        margin: 2em 0 0 0;
    }
    .center-in-l {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form-name {
        height: 3em;
        padding-left: 2%;
    }

    .form-description {
        height: 8em;
        padding: 2% 0 0 2%;
    }

    .form-item {
        border-radius: 5px;
        border: 1px solid black;
        font-weight: bolder;
        width: 98%;
        background: antiquewhite;
    }

    .form-item::placeholder {
        color: #202020;
    }

    .mui-pickers {
        width: 100%;
        color: white;
    }
    .single-input-container-2 {
        margin: 0;
    }
    .buttons-container {
        position: absolute;
        top: 0;
        right: 2%;

        width: 20em;
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
    }
    .form-button {
        width: 35%;
        height: 2em;
        font-weight: lighter;
        font-size: 1.2em;
        border-radius: 5px;
        box-shadow: none;
        color: white;
        background: rgba(255, 255, 255, 0);
        transition: ease-in-out .1s;
    }
    .b-create:hover {
        cursor: pointer;
        color: white;
        background: steelblue;
        border-color: #325c7d;
    }
    .b-cancel:hover {
        cursor: pointer;
        color: white;
        background: tomato;
        border-color: #b34535;
    }
    .create-event-title {
        margin-left: .5em;
        font-weight: lighter;
    }
}