.main-slide-container-l {
    overflow: hidden;
    width: 20%;
    height: 100vh;
    background: #212121;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    transition: ease-in-out .2s;
}


.main-slide-menu-title-l {
    font-weight: lighter;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    margin-left: 0;
}


.single-option-l {
    display: grid;
    grid-template-columns: 1fr 4fr;
    line-height: 2em;
    transition: ease-in-out .15s;
}
.single-option-l:hover {
    cursor: pointer;
    background: rgba(255,255,255,.5);
    color: black;
    font-weight: bolder;
}

