.main-slide-container {
    overflow: hidden;
    width: 85%;
    height: 100vh;
    background: #191919;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    transition: ease-in-out .2s;
}
.title-container {
    display: flex;
}

.main-slide-menu-title {
    font-weight: lighter;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    margin-left: 1em;
}

.menu-container {
    list-style: none;
    padding: 0;
}
.single-option {
    display: grid;
    grid-template-columns: 1fr 4fr;
    line-height: 2em;
    transition: ease-in-out .15s;
}
.single-option:active {
    background: white;
    color: black;
}